html {
	height: 100%;
}

body {
	background-color: rgb(244, 248, 251);
	font-size: 14px;
	min-width: 1200px;
	font-family: -apple-system-font, Helvetica Neue, Tahoma, PingFang SC, Microsoft Yahei, SimSun, "sans-serif";
	-webkit-font-smoothing: antialiased;
	margin: 0;
	min-height: 100%;
	height: 100%;
	display: block;
}

pre,
code {
	font-family: Consolas;
}

.ql-snow .ql-editor pre.ql-syntax {
	background-color: rgb(45, 45, 45) !important;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #FFF;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #AAA;
}

/* 全局修改element-ui */

.el-dialog {
	display: flex;
	flex-direction: column;
	margin: 0 !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*height:600px;*/
	max-height: calc(100% - 30px);
	max-width: calc(100% - 30px);
}

.el-dialog__body {
	padding: 20px;
	padding-top: 0;
}

/* 全局修改element-ui end */


a {
	text-decoration: none;
}

/* 鼠标变手 */
.hover {
	cursor: pointer;
}

.container {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}


/* flex布局 */
.d-f {
	display: flex;
}

/* 垂直居中 */
.d-cf {
	display: flex;
	align-items: center;
}

.d-cf-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


/* 垂直水平居中 */
.d-cc {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 两端对齐 */
.d-bf {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* 右端对齐 */
.d-rf {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
/* 左端对齐 */
.d-lf {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* 文字居中 */
.text-c {
	text-align: center;
}

/* 浮动 */
.float-l {
	float: left;
}

.float-r {
	float: right;
}

.clear {
	clear: both;
}

/* 图片大小 */

.icon30 {
	width: 30px;
	height: 30px;
}

.icon40 {
	width: 40px;
	height: 40px;
}

.icon50 {
	width: 50px;
	height: 50px;
}

.icon60 {
	width: 60px;
	height: 60px;
}

.icon70 {
	width: 70px;
	height: 70px;
}

.icon80 {
	width: 80px;
	height: 80px;
}

.icon100 {
	width: 100px;
	height: 100px;
}


/* 圆角 */

.radius5 {
	border-radius: 5px;
}

.radius10 {
	border-radius: 10px;
}

.radius20 {
	border-radius: 20px;
}

.radius50 {
	border-radius: 50%;
}


.shadow{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* 自定义 */

.content-left {
	width: 860px;
	float: left;
}

.content-right {
	width: 300px;
	float: right;
}
